form {
	margin-bottom: 0;
}

input, textarea, select {
	border: 0.1em solid #555555;
	border-radius: 0em;
	display: block;
	margin: 0.5em 0.4em;
	padding: 0.2em 0.5em;
	background-color: #F5F5F5;
	font-family: 'pt_sansregular', sans-serif;
}

input:focus, textarea:focus {
	outline: none;
}

textarea {
	width: 30em;
	height: 10em;
}

input[type=submit]:hover {
	background: #CCCCCC;
	border-color: #555555;
}

input[type=submit]:active {
	background: #828282;
	border-color: #555555;
}

input[type=submit] {
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
}

input[type=radio], label {
	display: inline;
	vertical-align: middle;
}