html {
  height: 100%;
  overflow: hidden;
}

body {
  color: #2B2B2B;
  font-family: 'pt_sansregular', sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5em;
}

.main {
  position: absolute;
  top: 3em;
  left: 16em;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.flash {
  position: absolute;
  color: black;
  z-index: 999;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.flash.error {
  border: solid 0.1em #900;
  background-color: #FF6565;
}

.flash.notice {
  border: solid 0.1em #26722D;
  background-color: #A4E7A0;
}

.flash.notice {
  border: solid 0.1em #26722D;
  background-color: #A4E7A0;
}

.fade {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
