.sideBar {
  overflow: auto;
  width: 15em;
  position: absolute;
  bottom: 0;
  top: 3em;
  padding-top: 1em;
  background-color: #2B2B2B;
  font-family: 'pt_sansregular', sans-serif;
}

.sideSection {
  margin: 2em 0;
	text-align: center;
  color: #CCCCCC;
}

.sideLink {
  display: block;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
	text-decoration: none;
	padding: 0.2em 0.5em;
	font-size: 1em;
	white-space: nowrap;
	margin: 0 0 0.5em 0;
  background: #2B2B2B;
  border: none;
  font-family: 'pt_sansregular', sans-serif;
  color: #CCCCCC;
  cursor: pointer;
}

button.sideLink{
  width: 100%;
  outline: none;
}

.sideSection .group {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.sideSection .visited {
  text-decoration: line-through;
  color: #8F8F8F;
}

.sideLink:hover {
	background: #006699;
}

.navBar {
  position: relative;
  background-color: #CCCCCC;
  top: 0;
  height: 3em;
  line-height: 3em;
  font-family: 'pt_sansregular', sans-serif;
}

.navBar a {
	text-decoration: none;
	font-size: 0.9em;
	white-space: nowrap;
	margin: 0.5em 2.5em 0.5em 0.5em;
  color: #2B2B2B;
}

.navBar a:hover {
  color: #006699;
}

.navTab {
  float: right;
}

.navSetting {
  float: right;
}

.navDivider {
  border-right: 1px solid #2B2B2B;
  width: 0;
  height: 1.5em;
  float: right;
  margin: 0.75em 2.5em 0.5em 0.5em;
}

.logo {
  display: inline-block;
  float: left;
  margin-left: .7em;
}
