.sideBar {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  width: 12em;
  height: 100%;
  border-right: 0.2em solid #555555;
  float: left;
  padding-top: 2.5em;
  background-color: #2B2B2B;
}

.sideButton {
	text-align: center;
}

.sideButton a {
  display: block;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
	text-decoration: none;
	padding: 0.2em .5em;
	font-size: 1em;
	white-space: nowrap;
	margin-bottom: 0.5em;
  color: #CCCCCC
}

.sideButton a:hover {
	background: #363636;
}

.navBar {
  background-color: #F2F2F2;
  border-bottom: 0.1em solid #555555;
  margin-left: 12em;
}

.navBar a {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
	text-decoration: none;
	font-size: 1.2em;
	white-space: nowrap;
	margin: 0.5em;
  color: #676767;
}

.navBar a:hover {
  text-decoration: underline;
}

.navTab {
  position: absolute;
}

.navSetting {
  text-align: right;
}
