.tileCollection {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #CCCCCC;
}

.tileCollection:first-child {
  margin-top: 1em;
}

.tileHeader {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.tile {
  position: relative;
  display: inline-block;
  color: #2B2B2B;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 15em;
}

.tile .title {
  font-size: 1.1em;
  color: #006699;
  border: none;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

.tile .title:hover {
  text-decoration: underline;
}

.tile .author {
  color: #2B2B2B;
  font-size: 0.9em;
  text-decoration: none;
  display: block;
}

.tile .author:hover {
  text-decoration: underline;
}

.tile .desc {
  font-size: 0.9em;
  font-style: italic;
  height: 4em;
  text-overflow: ellipsis;
  overflow:hidden;
}

.tile .date {
  font-size: 0.9em;
  display: inline-block;
}

.tile .metadata {
  font-size: 0.9em;
  display: inline-block;
  float: right;
}
