.tile {
  position: relative;
  display: inline-block;
  color: #2B2B2B;
  padding: 1em;
  border-bottom: 1px solid #CCCCCC;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 15em;
}

.tile .title {
  font-size: 1.2em;
  color: #006699;
  border: none;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

.tile .title:hover {
  text-decoration: underline;
}

.tile .author {
  color: #2B2B2B;
  text-decoration: none;
  display: block;
}

.tile .author:hover {
  text-decoration: underline;
}

.tile .desc {
  font-size: 0.9em;
  font-style: italic;
  height: 4em;
}

.tile .date {
  font-size: 0.9em;
  display: inline-block;
}

.tile .metadata {
  font-size: 0.9em;
  display: inline-block;
  float: right;
}
